.pt_custommenu {
    font-size: 14px;
    margin: 0 auto;
/*    padding:0 260px 0 0;*/
    padding:0px;
    position: relative;
    width: 100%;
    z-index: 90;
    display: inline-block;
	float:left;
	border-bottom:1px solid #eeeeee;
        border-top:1px solid #eeeeee;
}
.pt_custommenu div.pt_menu {
    float: left;
}
#pt_menu_home a {
    padding-left:0px;
}
.pt_custommenu div.pt_menu .parentMenu a,
.pt_custommenu div.pt_menu .parentMenu span.block-title{
	color: #666;
    display: block;
    font-family: "Arial",serif;
	padding: 10px 20px 10px 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 32px;
    text-decoration: none;
    text-transform: uppercase;
}
div.pt_menu .parentMenu a, .parentMenu .block-title {
    color: #666;
    font-size: 18px;
}

.pt_custommenu div.popup {
    position:absolute;
    z-index:3000;
    background-color:#fff;
    text-align:left;
    padding:0;
    margin: 0;
}

.pt_custommenu div.popup a {
    text-decoration: none;
    display:block;
    line-height: 32px;
}

.pt_custommenu .itemMenu h4.level0,.pt_custommenu .itemMenu a.level0 {
    color: #ffffff;
	background:#aaaaaa;
    font-family: "CaviarDreams";
    font-size: 14px;
	padding:0 10px;
    text-transform: uppercase;
}

.pt_custommenu .itemSubMenu h4.level2,
.pt_custommenu .itemSubMenu a.level2,
.pt_custommenu .itemSubMenu h4.level3,
.pt_custommenu .itemSubMenu a.level3,
.pt_custommenu .itemMenu .level1 a.level0{
    background:none;
    color: #666;
    font-size: 14px;
    font-weight: normal;
    line-height: 35px;
    padding-left: 10px;
	font-family:'robotoslablight';
    text-transform: none;
}

.pt_custommenu div.popup a.actParent {
}
.pt_custommenu div.popup a.act {
}
.pt_custommenu div.column {
    float: left;
    margin-right: 5px;
    padding-right: 5px;
    width: 200px;
}
.pt_custommenu div.blockright {
	width:275px;
}
.pt_custommenu div.popup .blockright img {
    max-width: 100%;
}
.pt_custommenu div.column.last {
    border-right: 0 none;
}
.custom-menu-bottom { padding-bottom:30px; float:left; width:100%; }
.custom-menu-bottom .custom-bottom { margin-right:25px; }
.custom-menu-bottom .custom-bottom,.custom-menu-bottom .custom-bottom1 { float:left; width:395px; }
.pt_custommenu .block2{
    margin-top: 10px;
    float: left;
}
.pt_custommenu div.popup#popup20 .block1 { padding:30px 20px 0; } 
.pt_custommenu .static_block_custom_menu .static-menu-img { width:460px; float:left; }
.pt_custommenu .static_block_custom_menu .des { margin-left:475px; }
#block2_pt_item_menu_custom_menu {
    width: 920px;
	padding:20px 20px 10px;
}
.static-menu-img {
    margin: 0 0 20px;
}
.pt_custommenu div.popup .block1{
    overflow: hidden;
    float: left;
    padding: 20px 20px;
}

#block2_pt_item_menu_custom_menu .title-custom {
    text-transform: uppercase;
	font-family:'CaviarDreams';
	font-size:23px;
	color:#666;
	margin:0 0 20px; 
}
#block2_pt_item_menu_custom_menu .des  { color:#666; font-size:13px; }

#block2_pt_item_menu_custom_menu .content-custom {
	font-size:14px;
	color:#444444;
	line-height:20px;
	margin:10px 0 0;
}
.pt_custommenu div.popup .block1#block118 { padding:30px 20px 0; }
.pt_custommenu div.popup .block1 .column{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.pt_custommenu div.popup .blockright img{
    max-width: 100%;
} 

.pt_custommenu div.pt_menu .parentMenu p{
    margin: 0;
    padding: 0;
}
.pt_custommenu #pt_menu_link{
    padding: 0;
}
.pt_custommenu #pt_menu_link .parentMenu ul li{
    float: left;
    list-style: none;
}
.pt_custommenu #pt_menu_link .parentMenu ul li a{
    float: left;
    padding: 0 10px;
    display: block;
}
.pt_custommenu .clearBoth {
    clear:both;
}
.pt_custommenu .itemSubMenu .itemSubMenu{
    padding-left: 20px;
}
.pt_custommenu .itemSubMenu .itemSubMenu a span:before{
    content: '- ';
}

/*mobile menu*/

/*------Accordion ---------*/
/********** < Navigation */
.nav-collapse {
    text-align: left;
}
.navbar .nav > li {
    padding: 10px 30px 20px 0;
}
#ma-mobilemenu {
    float: left;
    height: auto;
    margin:0;
    width: 100%;
}

.nav-collapse, .nav-collapse.collapse {
}
.navbar-inner {
    border: 0;
    border-radius: 0;
    padding: 2px 0;
}
.navbar .btn-navbar {
    background: url("../images/bg-menu-mobile.png") no-repeat scroll 50% 50%;
    border: 0 none !important;
    box-shadow: none !important;
    margin-top: 10px;
}
.navbar .btn-navbar:hover {
	 background: url("../images/bg-menu-mobile.png") no-repeat scroll 50% 50%;
}
.mobilemenu>li.last a {
    border-bottom: 0;
}
.navbar .brand {
    color: #fff;
    font-family: 'CaviarDreams';
    text-transform: uppercase;
	padding:18px 15px;
}
.mobilemenu {
	list-style-type: none;
	padding: 0;
    margin: 0;

}
.collapse.in {

}
.mobilemenu ul {
	padding: 0;
	margin: 0;
	display: block;
	width: 100%;
}
.mobilemenu li {
	background: #faf8f8;
	cursor: pointer;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: block;
	width: 100%;
	position: relative;
        border-radius: 0 !important;
}
.mobilemenu li.level0.last {
    margin-bottom: 20px;
}
.mobilemenu li.active>a {
	/*background: url('../images/close.gif') no-repeat center right;*/
}
.mobilemenu li div {
	padding: 20px;
	background: #aef;
	display: block;
	clear: both;
	float: left;
	width: 360px;
}
.mobilemenu a {
    border-bottom: 1px solid #e0d8d8;
    color: #666;
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-weight: normal;
    line-height: 40px;
    margin: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
}


.mobilemenu ul ul a, .mobilemenu ul li.active ul a {
	color: #666 !important;
}


.mobilemenu ul ul ul a, .mobilemenu ul ul li.active ul a {
	color: #666 !important;
}

.mobilemenu ul ul ul ul a, .mobilemenu ul ul ul li.active ul a {
	color: #666 !important;
}

.mobilemenu li.active>ul {

}
.mobilemenu ul ul a {
	padding-left: 15px;
}
.mobilemenu ul ul ul a {
	padding-left: 30px;
}
.mobilemenu ul ul ul ul a {
	padding-left: 45px;
}
.mobilemenu ul ul ul ul ul a {
	padding-left: 60px;
}
/*----------- button mobilemenu -------------*/
.mobilemenu span.ttclose,.mobilemenu span.ttopen {
	position: absolute;
	top: 8px;
	right: 8px;
}
.mobilemenu span.ttclose a { 
	background: url("../images/menu_down.png") no-repeat scroll 50% 50%;
	 border: 0 none;
    color: #333333;
    display: block;
    height: 15px;
    padding: 0;
    width: 15px;
}
.mobilemenu span.ttopen a { 
	background: url("../images/menu_up.png") no-repeat scroll 50% 50%;
	 border: 0 none;
    color: #333333;
    display: block;
    height: 15px;
    padding: 0;
    width: 15px;
}
.mobilemenu span.no-close a,.mobilemenu ul li ul span.ttclose a { background:none; }
.mobilemenu span.up a { 
	background: url("../images/menu_up.png") no-repeat scroll 50% 50%;
}
/*.mobilemenu span.head a:hover*/
.mobilemenu li.active>span.ttclose a {
	background: url(../images/menu_up.png) no-repeat 50% 50%;
}
.mobilemenu li.selected span.ttclose a {
	background: url(../images/menu_up.png) no-repeat 50% 50%;
}
.menu-mobile {
    width: 100%;
	height: 55px;
}
.itemSubMenu.level0{display: none;}

.pt_custommenu div.pt_menu.act a, .pt_custommenu div.pt_menu.active .parentMenu a {
    color: #e84c3d;
}