<div class="price" *ngIf="price">{{price}} грн. <span *ngIf="oldPrice">{{oldPrice}} грн.</span></div>
<form (ngSubmit)="onSubmit()">
    <div *ngFor="let field of fields" class="form-group" >
        <label>{{field.option_name}}</label>
        <div *ngIf="field.type === 'radio'">
            <div class="form-check radio" *ngFor="let option of field.values">
                <label class="form-check-label" for="{{'field_' + field.option_id}}">
                    <input
                        [(ngModel)]="selectedData[field.option_id]"
                        (change)="select(field.option_id)"
                        name="{{'field_' + field.option_id}}"
                        type="radio"
                        class="form-check-input"
                        value="{{option.option_value_id}}"
                        [attr.disabled]="!option.status ? true : null"
                        [checked]="selectedData[field.option_id] === option.option_value_id">
                        >
                    {{option.option_value_name}} ({{ option.price }} грн.)
                </label>
            </div>
        </div>
        <div *ngIf="field.type === 'select'" >
            <select
                [(ngModel)]="selectedData[field.option_id]"
                (change)="select(field.option_id)"
                name="{{'field_' + field.option_id}}"
                class="form-control">
                    <option *ngFor="let option of field.values"
                    value="{{option.option_value_id}}"
                    [attr.disabled]="!option.status ? true : null"
                    [selected]="selectedData[field.option_id] === option.option_value_id">
                        {{option.option_value_name}}
                    </option>
            </select>
        </div>
    </div>

    <div class="form-group form-group-actions">
        <label class="control-label" for="input-quantity">Количество</label>
        <input
            [(ngModel)]="selectedData.quantity"
            type="number"
            name="quantity"
            value="1"
            size="2"
            id="input-quantity"
            class="form-control">
        <button type="submit" id="button-cart" data-loading-text="Загрузка..." class="btn btn-primary btn-lg btn-block"><span>Купить</span></button>

        <div class="add-to-links">
            <div class="btn-group">
                <div class="wishlist">
                    <button type="button" class="btn btn-default" title="В закладки">
                        <span>В закладки</span></button>
                </div>
                <div class="compare">
                    <button type="button" class="btn btn-default" title="В сравнение">
                        <span>В сравнение</span></button>
                </div>
            </div>
            <a class="dashed" (click)="open(content)">Наличие в магазинах</a>
        </div>
    </div>
</form>
<div class="product-massage">
    <p *ngFor="let alert of alerts">
      <ngb-alert *ngIf="alert.message" [type]="alert.type" (close)="alert.message = null"><span [innerHTML]="alert.message"></span></ngb-alert>
    </p>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Наличие в магазинах</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row" *ngIf="selectedVariant.availability">
            <div class="col-md-6">
                <div class="row store-item" *ngFor="let item of selectedVariant.availability">
                    <div class="col-md-3"><img src="image/{{item.stock.image}}" width="100" alt="{{item.stock.name}}"> </div>
                    <div class="col-md-9">
                        <p *ngIf="item.stock.name"><b>{{item.stock.name}}</b></p>
                        <p *ngIf="item.stock.address"><i>{{item.stock.address}}</i></p>
                        <p *ngIf="item.stock.open">{{item.stock.open}}</p>
                        <p *ngIf="item.stock.telephone">{{item.stock.telephone}}</p>
                        <p *ngIf="item.stock.comment">{{item.stock.comment}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <ngui-map zoom="11" center="Киев, Цум">
                    <marker *ngFor="let pos of selectedVariant.availability"
                        (click)="showInfoWindow($event)"
                        [position]="[pos.stock.geocode.lat, pos.stock.geocode.lng]"></marker>
                </ngui-map>
            </div>
        </div>

    </div>
</ng-template>

