Options -Indexes
RewriteEngine On
RewriteBase /

RewriteRule ^system/download/(.*) index.php?route=error/not_found [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !.*\.(ico|gif|jpg|jpeg|png|js|css|svg)
RewriteRule ^([^?]*) index.php?_route_=$1 [L,QSA]
